<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<div style="text-align: center;"> <h1> Ventilation Controller Login </h1> </div>
<div class="center">
    <form method="post" action="/auth/login">
        <div class="container" style="position: relative;">
            <label>Username : </label>
            <input type="text" class="login_name" placeholder="Enter Username" name="username" required>
            <label>Password : </label>
            <input type="password" class="login_password" placeholder="Enter Password" name="password" required>
            <button type="submit">Login</button>
        </div>
    </form>
	<% if(error) { %>
		<p class="login_error">Login details incorrect</p>
	<% } %>
</div>

</body>
<script>
	history.pushState(null, "", location.href.split("?")[0]);
</script>
</html>
